$white-basis: #ffffff;
$accent-brand: #2196f3;
$black-title: #212121;
$black-text: #757575;
$darck-bg: #2f303a;
$light-first-bg: #e5e5e5; /*цвет main-а */
$light-second-bg: #f5f4fa; /*наша команда*/
$white-opacity: rgba(255, 255, 255, 0.6);
$work-cell-bg: rgba(47, 48, 58, 0.8);
$color-line: #ececec; /*цвет бордера*/
$color-m-form-input: rgba(33, 33, 33, 0.2);
$team-soc-link: #afb1b8;
$transit-properties: 250ms cubic-bezier(0.4, 0, 0.2, 1);
